{% extends 'base.html' %}
{% load static %}

{% block title %}Password reset{% endblock %}
{% block contend %}
     <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img class="logo-modify" src="{% static 'logo-banner/LOGO-AI-PNG.png' %}" width="200" height="60" style="margin-left: 69px;" >
        </a>
    </nav>
    <div class="container p-3" style="min-height: 75vh;">
    <h1>Password reset sent</h1>
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly. If you don’t receive an email,
        please make sure you’ve entered the address you registered with,
        and check your spam folder.</p>
    </div>

    <footer class="page-footer font-small bg-light text-dark pt-4">
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
         <a href="https://mdbootstrap.com/"> AuctionNow.com</a>
      </div>
    </footer>
{% endblock %}