{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block contend %}
    <style>
        .login-form {
            width: 460px;
            margin: 50px auto;
            font-size: 15px;
        }
        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
        .login-form h2 {
            margin: 0 0 15px;
        }
        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }
        .btn {
            font-size: 15px;
            font-weight: bold;
        }
        .logomodify{
            margin-left: 30%;
        }
    </style>
    {% if error_message %}
<!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ error_message }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>

    {% endif %}



 <div class="login-form">
    <form method="POST" class="form-group">
	{% csrf_token %}
        <a href="{% url 'home' %}">
                <img class="logomodify" src="{% static 'logo-banner/LOGO-AI-PNG.png' %}" width="140" height="90" >
        </a>
        <h2 class="text-center">Sign Up</h2>
	    {{ form|crispy }}
	<button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
 </div>

{% endblock %}